<!DOCTYPE html>
<html lang="pt-Br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="./vue.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./assets/css/style.css" />
  <title>Techno Project</title>
</head>

<body>
  <div id="app">
    <header class="header">
      <img src="/assets/techno.svg" alt="logo">
      <div class="carrinho_img" @click="carrinhoAtivo = true">{{carrinho | numbersforPrice}} |
      </div>
    </header>
    <section class="modal" v-if="produto" @click="closeModal">
      <div class="modal_container">
        <button class="modal_fechar" @click="produto = false">X</button>
        <div class="modal_img">
          <img :src="produto.img" alt="Imagem do produto">
        </div>
        <div class="modal_dados">
          <span class="modal_preco">
            {{produto.preco | numbersforPrice}}
          </span>
          <h2 class="modal_nome">
            {{produto.nome}}
          </h2>
          <p>{{produto.descricao}}</p>
          <p>{{produto.estoque}}</p>
          <button v-if="produto.estoque > 0" class="modal_btn" @click="pushProduct">Adicionar Produto</button>
          <button v-else class="modal_btn desabilitado" disabled>Produto Esgotado</button>
        </div>
        <div class="modal_avaliacoes">
          <h2 class="avaliacao_subtitulo">Avaliações</h2>
          <ul>
            <li v-for="avaliacao in produto.reviews" class="avaliacao">
              <p class="avaliacao_descricao">{{avaliacao.descricao}}</p>
              <p class="avaliacao_usuario">{{avaliacao.nome}} | {{avaliacao.estrelas}}</p>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section class="produtos">
      <div v-for="produto in produtos" class="produto" @click="openModal(produto.id)">
        <img :src="produto.img" :alt="produto.nome" :key="produto.id" class="produto_img" />
        <div class="produto_info">
          <span class="produto_preco">{{produto.preco | numbersforPrice}}</span>
          <h2 class="produto_nome">{{produto.nome}}</h2>
        </div>
    </section>
    <section class="carrinho_modal" :class="{ativo: carrinhoAtivo}" @click="closeCarrinho">
      <div class="carrinho_container">
        <button class="carrinho_fechar" @click="carrinhoAtivo = false">X</button>
        <h2 class="carrinho_titulo">carrinho</h2>
        <div v-if="compras.length > 0">
          <ul class="carrinho_lista">
            <li v-for="(item, index) in compras" class="carrinho_item">
              <p>{{item.nome}}</p>
              <p class="carrinho_preco">{{item.preco | numbersforPrice()}}</p>
              <button class="carrinho_remover" @click="removeritem(index)">X</button>
            </li>
          </ul>
          <p class="carrinho_total">{{carrinho | numbersforPrice()}}</p>
          <button class="carrinho_finalizar">Finalizar Compra</button>
        </div>
        <p v-else> O carrinho está vazio</p>
      </div>
    </section>
    <div class="alerta" :class="{ativo: alertaAtivo}">
      <p class="alertaMensagem">
        {{mensagem}}
      </p>
    </div>
  </div>
  <script src="/app.js"></script>
</body>

</html>